[submodule "src/models/data_generating_models/TimeGAN"]
	path = src/models/data_generating_models/TimeGAN
	url = git@github.com:jsyoon0823/TimeGAN.git
[submodule "src/models/data_generating_models/TimeVAE"]
	path = src/models/data_generating_models/TimeVAE
	url = git@github.com:abudesai/timeVAE.git
