prettytable==3.15.1
arrow==1.3.0
async-lru==2.0.4
nbclient==0.10.0
uri-template==1.3.0
keras==3.9.0
rfc3339-validator==0.1.4
executing==2.1.0
wandb==0.18.5
pexpect==4.9.0
multitasking==0.0.11
absl-py==2.1.0
pandas==2.2.3
tornado==6.4.1
matplotlib==3.9.2
nbconvert==7.16.4
fqdn==1.5.1
llvmlite==0.44.0
decorator==5.1.1
filelock==3.16.1
idna==3.10
optree==0.14.1
traitlets==5.14.3
fonttools==4.54.1
nest-asyncio==1.6.0
Markdown==3.7
smmap==5.0.1
ptyprocess==0.7.0
flatbuffers==25.2.10
isoduration==20.11.0
contextlib2==21.6.0
arch==7.2.0
jupyterlab==4.2.5
GitPython==3.1.43
notebook==7.2.2
neuralhedge==0.1.0
urllib3==2.2.3
overrides==7.7.0
parso==0.8.4
webencodings==0.5.1
grpcio==1.71.0
json5==0.9.25
tinycss2==1.4.0
astunparse==1.6.3
python-json-logger==2.0.7
opt_einsum==3.4.0
defusedxml==0.7.1
referencing==0.35.1
yfinance==0.2.54
google-pasta==0.2.0
requests==2.32.3
Jinja2==3.1.4
pydantic==2.10.6
gitdb==4.0.11
soupsieve==2.6
markdown-it-py==3.0.0
httpx==0.27.2
six==1.16.0
setuptools==76.0.0
seaborn==0.13.2
h11==0.14.0
fsspec==2024.10.0
networkx==3.4.2
jupyter-console==6.6.3
stochastic==0.6.0
joblib==1.4.2
packaging==24.1
jupyter==1.1.1
gast==0.6.0
prometheus_client==0.21.0
jupyter_server==2.14.2
jupyter_client==8.6.3
rich==13.9.4
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
jupyter-events==0.10.0
jsonpointer==3.0.0
ml-dtypes==0.3.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
appnope==0.1.4
lxml==5.3.1
numpy==1.26.4
mistune==3.0.2
attrs==24.2.0
appdirs==1.4.4
certifi==2024.8.30
dtaidistance==2.3.13
cffi==1.17.1
jsonschema==4.23.0
ml_collections==0.1.1
nbformat==5.10.4
stack-data==0.6.3
argon2-cffi==23.1.0
asttokens==2.4.1
threadpoolctl==3.5.0
Werkzeug==3.1.3
kiwisolver==1.4.7
setproctitle==1.3.3
jedi==0.19.1
jupyter_core==5.7.2
dm-tree==0.1.9
pyparsing==3.2.0
tqdm==4.66.6
pip==25.0.1
contourpy==1.3.0
tsgm==0.0.7
Send2Trash==1.8.3
peewee==3.17.9
jupyter-lsp==2.2.5
debugpy==1.8.7
sniffio==1.3.1
jsonschema-specifications==2024.10.1
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
jupyterlab_pygments==0.3.0
torch==2.5.1
cmake==3.31.6
pytz==2024.2
rpds-py==0.20.1
fastjsonschema==2.20.0
wcwidth==0.2.13
widgetsnbextension==4.0.13
termcolor==2.5.0
pillow==11.0.0
sentry-sdk==2.17.0
html5lib==1.1
tensorboard==2.16.2
babel==2.16.0
ema-pytorch==0.7.7
tensorflow==2.16.1
libclang==18.1.1
jupyterlab_server==2.27.3
pydantic_core==2.27.2
ipython==8.29.0
prompt_toolkit==3.0.48
pycparser==2.22
cycler==0.12.1
ipywidgets==8.1.5
wheel==0.45.1
comm==0.2.2
statsmodels==0.14.4
pure_eval==0.2.3
namex==0.0.8
types-python-dateutil==2.9.0.20241003
cloudpickle==3.1.1
h5py==3.13.0
psutil==6.1.0
antropy==0.1.6
docker-pycreds==0.4.0
rfc3986-validator==0.1.1
tensorflow-probability==0.25.0
terminado==0.18.1
wrapt==1.17.2
sympy==1.13.1
argon2-cffi-bindings==21.2.0
numba==0.61.0
einops==0.8.1
typing_extensions==4.12.2
PyYAML==6.0.2
scipy==1.14.1
matplotlib-inline==0.1.7
charset-normalizer==3.4.0
protobuf==5.28.3
tensorboard-data-server==0.7.2
tzdata==2024.2
jupyter_server_terminals==0.5.3
bleach==6.2.0
beautifulsoup4==4.12.3
platformdirs==4.3.6
ipykernel==6.29.5
webcolors==24.8.0
frozendict==2.4.6
annotated-types==0.7.0
patsy==0.5.6
scikit-learn==1.5.2
anyio==4.6.2.post1
POT==0.9.4
httpcore==1.0.6
Pygments==2.18.0
click==8.1.7
iisignature==0.24
notebook_shim==0.2.4
websocket-client==1.8.0
MarkupSafe==3.0.2
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.43.0
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
